@use "main";

.homepage {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;

  &__header {
    @include main.text-header;
  }

  &__featured {
    position: relative;
    width: 100%;
    aspect-ratio: 1060/370;
  }

  &__games {
    display: flex;
    gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      width: 194px;
    }

    @include main.mobile {
      justify-content: space-around;

      & > * {
        width: 150px;
      }
    }
  }
}
