@use "main";

.remove-button {
  display: block;
  width: fit-content;
  transition: height 0.1s ease-out;
  height: 0;

  &:focus {
    height: 1em;
  }
}

.lib-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: main.rem(42px);
  min-width: main.rem(132px);
  padding: 0 5px;
}

.cart-panel {
  display: grid;
  width: main.rem(370px);
  min-height: main.rem(100px);
  grid-auto-rows: 1fr;

  @include main.mobile {
    width: 300px;
  }

  &__header {
    @include main.text-paragraph-largest;

    display: flex;
    padding: 9px;
    gap: 9px;
    align-items: center;
    text-transform: uppercase;

    :first-child {
      flex-grow: 1;
    }
  }

  &__position {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    gap: 9px;

    &:hover {
      .remove-button {
        height: 1rem;
      }

      .cart-panel__description {
        gap: 9px;
      }
    }
  }

  &__description {
    @include main.text-paragraph-large;
    @include main.ellipsis;

    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    flex-grow: 1;

    span {
      @include main.ellipsis;
    }
  }

  &__price {
    @include main.text-paragraph-large;
  }

  &__placeholder {
    @include main.text-paragraph-large;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__thumbnail {
    position: relative;
    width: main.rem(100px);
    aspect-ratio: 100/60;
  }
}
