<lib-dropdown
  [dropdownIcon]="Icons.ShoppingCart"
  [dropdownText]="inCartCount().toString()">
  <div class="cart-panel">
    @if (inCartCount() > 0) {
      <div class="cart-panel__header">
        <span>
          {{inCartCount()}} ITEMS IN CART
        </span>
        <span>
        {{inCartPriceSum() | price}}
      </span>
        <button class="lib-button lib-button--primary" (click)="removeAllFromCart()">
          CLEAR CART
        </button>
      </div>
      @for (game of inCart(); track game.id) {
        <div class="cart-panel__position">
          <div class="cart-panel__thumbnail">
            <img [ngSrc]="game.thumbnail" [alt]="game.name" fill>
          </div>
          <div class="cart-panel__description">
            <span>{{game.name}}</span>
            <button class="remove-button lib-link" (click)="removeFromCart(game.id)">Remove</button>
          </div>
          <div class="cart-panel__price">
            {{game.price | price}}
          </div>
        </div>
      }
    } @else {
      <div class="cart-panel__placeholder">
        CART IS EMPTY
      </div>
    }
  </div>
</lib-dropdown>
